/* global settings */

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}


/* styles for classes used throughout */

.compound, .split, .txt-box {
  box-sizing: border-box;
  padding: 1rem 1rem 0 1rem;
}

.img-box {
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}


/* implement styles for mobile first */

.desktop {
  display: none;
}

section {
  padding-bottom: 2rem;
}

section:last-of-type {
  padding: 0;
}

section:nth-child(2n+1) {
  background-color: lightgrey;
}


/* header */

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4rem;
  background-color: white;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}


/* main */

main {
  position: relative;
  top: 4rem;
  /* offset fixed header */
}


/* main -- banner */

#banner {
  padding: 0 0 2rem 0;
}

#banner .img-box {
  height: 11.25rem;
}

h1 {
  margin: 2rem 1rem;
}

#banner p {
  margin: 1.5rem 1rem;
}

.button {
  display: block;
  padding: 0.5rem 0;
  text-align: center;
  background-color: grey;
}


/* main -- information */

h4 {
  margin: 0 0 0 1rem;
  font-size: 1.5rem;
}

p {
  margin-left: 1rem;
}

#information a {
  margin-left: 1rem;
  color: blue;
}


/* main - courses */

h2 {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

#courses .compound {
  margin: 0.5rem 1rem;
  padding: 1rem;
  background-color: grey;
}

#courses .compound:first-child {
  margin-top: 0;
}

#courses .compound:last-child {
  margin-bottom: 0;
}


/* main - thesis */

#thesis h2 {
  padding-bottom: 2rem;
}

#thesis .compound {
  padding: 0;
}

video {
  width: 100%;
  height: auto;
  padding-bottom: 1.5rem;
}


/* footer */

footer {
  position: relative;
  top: 4rem;
  /* offset fixed header */
  padding: 1rem;
  font-size: 0.66rem;
  background-color: lightgrey;
}


/* styles for larger screens */

@media only screen and (min-width: 800px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  main {
    max-width: 1000px;
    margin: 0 auto;
  }
  /* styles for classes used throughout */
  section, #banner {
    display: flex;
    align-items: flex-start;
    padding: 2rem 1.5rem;
  }
  .large-col {
    width: 60%;
    padding: 0;
  }
  .small-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    padding: 0;
  }
  .split {
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
  }
  .small-col .split:first-child {
    padding-top: 0;
  }
  .compound .img-box {
    width: 100%;
    height: auto;
  }
  .split .txt-box {
    padding: 1rem 0 1rem 1rem;
  }
  .txt-box {
    padding: 0;
  }
  p {
    margin: 0.5rem 0;
  }
  /* header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-group {
    height: inherit;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
  }
  .logo-group img {
    height: 80%;
    width: auto;
  }
  .name {
    text-transform: uppercase;
  }
  .first-part {
    color: grey;
  }
  .second-part {
    color: lightgrey;
  }
  li {
    padding-right: 1rem;
  }
  /* main -- banner */
  #banner .large-col {
    margin-right: 24px;
  }
  #banner .img-box {
    height: auto;
  }
  #banner .txt-box {
    align-self: center;
    padding-left: 1rem;
    padding-right: 4rem;
  }
  h1 {
    margin: 0;
  }
  #banner p {
    margin: 1rem 0;
  }
  .button {
    display: block;
    padding: 0.5rem;
    margin: 0 5%;
  }
  /* main -- information */
  h3 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    text-align: left;
  }
  .source {
    padding: 1.5rem 0;
  }
  #information a {
    margin: 0;
  }
  h4 {
    font-size: 1.33rem;
    margin: 0;
  }
  /* main -- courses */
  #courses,
  #thesis {
    flex-flow: column;
    align-items: center;
  }
  .gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 3rem;
  }
  #courses .compound {
    width: 30%;
    padding: 0;
    margin: 0.5rem 0;
    background-color: white;
  }
  #courses .compound:first-child {
    margin-top: 0.5rem;
  }
  #courses .compound:last-child {
    margin-bottom: 0.5rem;
  }
  #courses .txt-box {
    padding: 1rem 0 1.5rem 1rem;
  }
  h2 {
    width: 100%;
    padding-top: 0;
    padding-bottom: 2rem;
  }
  h5 {
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
  }
  /* main -- thesis */
  #dirty-hack {
    display: flex;
  }
  #thesis {
    padding: 2rem 1.5rem;
  }
  #thesis .large-col {
    margin-right: 1rem;
  }
  #thesis h3 {
    padding-top: 0;
  }

  /* footer */
  footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 2rem 1.5rem;
  }
  footer ul {
    align-items: flex-start;
  }
}
